.container
  .nav
    .nav__name
      %h3.nav__name__user
        = current_user.name
        .nav__name__user__lists
          = link_to new_group_path do
            %i.fa.fa-pencil-square-o
        .nav__name__user__menu
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog

    .nav__room
      - current_user.groups.each do |group|
        .nav__room__box
          = link_to group_messages_path(group) do
            .nav__room__box__name
              = group.name
            .nav__room__box__comment
              = group.show_last_message
              


  .chat
    .chat__info
      .chat__info-left
        .chat__info-left__name{"data-id": "#{@group.id}"}
          = @group.name
        .chat__info-left__members
          Members:
          - @group.users.each do |user|
            = user.name
      .chat__info__right
        = link_to 'Edit', edit_group_path(@group.id), class: "btn"

    .chat__contents
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        .form__mask
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
