.container
  .nav
    .nav__name
      %h3.nav__name__user
        =current_user.name
        .nav__name__user__lists
          = link_to new_group_path do
            %i.fa.fa-pencil-square-o
        .nav__name__user__menu
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog


    .nav__room
      - current_user.groups.each do |group|
        .nav__room__box
          = link_to group_messages_path(group) do
            .nav__room__box__name
              = group.name
            .nav__room__box__comment
              = group.show_last_message